<a href="https://colab.research.google.com/github/mittalpk/Edureka/blob/main/Ed_CaseStudyI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. What is the output of the following code?

In [ ]:
nums =set([1,1,2,3,3,3,4,4])
print(len(nums))

4

2. What will be the output?

In [ ]:
d ={"john":40, "peter":45}
print(list(d.keys()))

['john', 'peter']

A3.  website requires a user to input username and password to register. Write a program to check the validity of password given by user. Following are the criteria for checking password:1. At least 1 letter between [a-z]2. At least 1 number between [0-9]1. At least 1 letter between [A-Z]3. At least 1 character from [$#@]4. Minimum length of transaction password: 65. Maximum length of transaction password: 12Hint: In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
def is_valid_password(password):
    if len(password) < 6 or len(password) > 12:
        return False

    has_lower = False
    has_upper = False
    has_digit = False
    has_special = False

    special_chars = "$#@"
    for char in password:
        if char.islower():
            has_lower = True
        elif char.isupper():
            has_upper = True
        elif char.isdigit():
            has_digit = True
        elif char in special_chars:
            has_special = True

    return has_lower and has_upper and has_digit and has_special

if is_valid_password(str(input("Password,: "))):
  print("Password is valid.")
else:
  print("Password is invalid.")

Password,: Spain45!
Password is invalid.

4. Write a for loop that prints all elements of a list and their position in the list.a = [4,7,3,2,5,9] Hint: Use Loop to iterate through list elements.

In [ ]:
a = [4,7,3,2,5,9]
for i in range(0,len(a)):
  print ("Element: ",a[i],",Position: ",i)

Element:  4 ,Position:  0
Element:  7 ,Position:  1
Element:  3 ,Position:  2
Element:  2 ,Position:  3
Element:  5 ,Position:  4
Element:  9 ,Position:  5

5. Please   write   a   program   which   accepts  a   string   from console   and   print   the characters that have even indexes.Example: If the following string is given as input to the program:H1e2l3l4o5w6o7r8l9dThen, the output of the program should be:Helloworld

In [ ]:
InputString = str(input("String Input: "))
OutString = ""
for i in range(0,len(InputString)):
  if i % 2 == 0 or i == 0:
    OutString = OutString + InputString[i]
print(OutString)

String Input: Hello9883HHlsbs
Hlo83Hss

6. Please write a program which accepts a string from console and print it in reverse order.Example: If the following string is given as input to the program: rise to vote sirThen, the output of the programshould be:ris etov ot esir

In [ ]:
InputString = str(input("String Input: "))
OutString = ""
for i in range(len(InputString)-1,-1,-1):
  OutString = OutString + InputString[i]
print(OutString)

String Input: jhsdjg sjdb ksdhd
dhdsk bdjs gjdshj

Please write a program which count and print the numbers of each character in a string input by console.Example: If the following string is given as input to the program:abcdefgabcThen, the output of the program should be:a,2c,2b,2e,1d,1g,1f,1

In [ ]:
InputString = str(input("String Input: "))
char_count = {}
for char in InputString:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

printed = set()
for char in InputString:
    if char not in printed:
        print(char,",",char_count[char])
        printed.add(char)

String Input: vadjbdbdj
v , 1
a , 1
d , 3
j , 2
b , 2

8.With   two   given   lists   [1,3,6,78,35,55]   and   [12,24,35,24,88,120,155],   write   a program to make a list whose elements are intersection of the above given lists.

In [ ]:
listA = [1,3,6,78,35,55]
listB= [12,24,35,24,88,120,155]
intersection = list(set(listA) & set(listB))
print(intersection)

[35]

9.Witha given list [12,24,35,24,88,120,155,88,120,155], write a program to print this list after removing all duplicate values with original order reserved

In [ ]:
original_list = [12, 24, 35, 24, 88, 120, 155, 88, 120, 155]

unique_list = []
seen = set()

for item in original_list:
    if item not in seen:
        unique_list.append(item)
        seen.add(item)

print(unique_list)

[12, 24, 35, 88, 120, 155]

10.By using list comprehension, please write a program to print the list after removing the value 24 in [12,24,35,24,88,120,155].

In [ ]:
original_list = [12, 24, 35, 24, 88, 120, 155]

filtered_list = [x for x in original_list if x != 24]

print(filtered_list)

[12, 35, 88, 120, 155]

11.By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [ ]:
original_list = [12,24,35,70,88,120,155]

filtered_list = [item for i, item in enumerate(original_list) if i not in (0, 4, 5)]

print(filtered_list)

[24, 35, 70, 155]

12.By using list comprehension, please write a program to print the list after removing delete numbers which are divisible by 5 and 7 in [12,24,35,70,88,120,155].

In [ ]:
original_list = [12,24,35,70,88,120,155]

filtered_list = [x for x in original_list if (x % 5 != 0 or x % 7 != 0)]

print(filtered_list)

[12, 24, 88, 120, 155]

13.Please  write  a  program  to  randomly  generate  a  list  with  5  numbers,  which  are divisible by 5 and 7 , between 1 and 1000 inclusive.

In [ ]:
import random
eligible_numbers = [x for x in range(1, 1001) if x % 35 == 0]

random_numbers = random.sample(eligible_numbers, 5)

print(random_numbers)

[735, 175, 70, 560, 420]

14.Write  a  program  to  compute  1/2+2/3+3/4+...+n/n+1  with  a given  n  input  by console (n>0).Example:If the following n is given as input to the program:5Then, the output of the program should be:3.55

In [ ]:
n = int(input("Enter a positive integer (n > 0): "))

if n <= 0:
    print("Please enter a number greater than 0.")
else:
    result = sum([i / (i + 1) for i in range(1, n + 1)])
    print("Sum of the series is:", round(result, 2))

Enter a positive integer (n > 0): 5
Sum of the series is: 3.55